In [1]:
import itertools
import json
import multiprocessing
import os
import time
import pandas as pd

In [2]:
pizza_businesses = []
with open('yelp_academic_dataset_business.json', 'r') as f:
    for line in f:
        line_json = json.loads(line)
        if 'Pizza' in (line_json.get('categories') or ''):
            pizza_businesses.append(line_json)
len(pizza_businesses)

7302

In [3]:
sum([pizza_business['review_count'] for pizza_business in pizza_businesses])

460965

In [4]:
pizza_businesses[0]

{'business_id': 'ZkzutF0P_u0C0yTulwaHkA',
 'name': 'Lelulos Pizzeria',
 'address': '311 Unity Center Rd',
 'city': 'Plum',
 'state': 'PA',
 'postal_code': '15239',
 'latitude': 40.4899958,
 'longitude': -79.7792879,
 'stars': 4.0,
 'review_count': 31,
 'is_open': 1,
 'attributes': {'RestaurantsPriceRange2': '1',
  'BusinessAcceptsCreditCards': 'True',
  'GoodForKids': 'True',
  'OutdoorSeating': 'False',
  'HasTV': 'True',
  'WiFi': "'no'",
  'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
  'RestaurantsGoodForGroups': 'True',
  'RestaurantsTakeOut': 'True',
  'RestaurantsAttire': "'casual'",
  'RestaurantsReservations': 'True',
  'BikeParking': 'True',
  'RestaurantsDelivery': 'True',
  'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
  'NoiseLevel': "'quiet'",
  'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
  'Alcohol': "'none'"},
 'categories': 'Restaurants, Pizza',
 'hours': {'Monday': '0:0-0:0',
  'Tuesday': '11:0-21:0',
  'Wednesday': '11:0-21:0',
  'Thursday': '11:0-21:0',
  'Friday': '11:0-22:0',
  'Saturday': '11:0-22:0',
  'Sunday': '11:0-20:0'}}

In [5]:
pizza_business_ids = set([pizza_business['business_id'] for pizza_business in pizza_businesses])
pizza_reviews = []
with open('yelp_academic_dataset_review.json', 'r') as f:
    for line in f:
        line_json = json.loads(line)
        if line_json['business_id'] in pizza_business_ids:
            pizza_reviews.append(line_json)
len(pizza_reviews)

479792

In [6]:
pizza_reviews[0]

{'review_id': 'mM8i91yWP1QbImEvz5ds0w',
 'user_id': 'TZQSUDDcA4ek5gBd6BzcjA',
 'business_id': 'qUWqjjjfpB2-4P3He5rsKw',
 'stars': 4.0,
 'useful': 0,
 'funny': 0,
 'cool': 0,
 'text': 'In the heart of Chinatown, I discovered it enroute to Kensington Market one day. It\'s quite hard to see, if you don\'t know it\'s there. First experience was very positive - would definitely return!\n\nATMOSPHERE: Small space. Think Banh Mi Boys, and other trendy over-the-counter eateries. Vibe is casual. Free WiFi is nice.\n\nSERVICE: Okay. Staff does their job, but not overly helpful upon entering the space. Maybe because it\'s an over-the-counter style place, but it would have been nice to be walked through their ordering process and menu.\n\nPRICE: Average. Depends on the size of pizza you order.The small pizza ($7-9.50) is filling for one. Large size pizza ($13-18.50) is good for sharing... or one VERY hungry person.  Pasta portions are very generous for the price tag ($9-14)\n\n\nFOOD: My friends and I were here for the first time, and we thought it was a pizza place so we all ordered pizza. It wasn\'t until we were waiting for the food to come, that we looked around and realised EVERY other table around us only had pasta on them. Guess we gotta come back to try! We did notice that the menu said their pasta is homemade. So will definitely come back.\n\nHere\'s the pizza we ordered:\n\nPeking Duck Pizza - Very tasty! Rich flavours that work well. But it\'s heavy, so come hungry - or order to share.\n\nMargherita - Good, but not the best. I recommend trying the more "special" toppings instead.\n\nShall return, and/or try other locations.',
 'date': '2017-06-06 19:04:10'}

In [7]:
pizza_data = pd.DataFrame(pizza_reviews)
pizza_data

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,mM8i91yWP1QbImEvz5ds0w,TZQSUDDcA4ek5gBd6BzcjA,qUWqjjjfpB2-4P3He5rsKw,4.0,0,0,0,"In the heart of Chinatown, I discovered it enr...",2017-06-06 19:04:10
1,09qxjFi4abaW66JeSLazuQ,mbdtyUUzZZx5ld1Qc4iGtQ,wkzWdo1mBqbzR2KPoXtWZw,4.0,1,0,0,Was a Chicago style deep dish. Homemade type ...,2010-08-21 01:19:17
2,K-wdPGHbErfxbKK6PetrmA,FCoXqPxuI7GRBYyzJIwVxw,r4HkiC71nB9k8Fe8zIORFQ,5.0,1,0,1,First time eating there and everything was so ...,2015-12-05 02:16:06
3,jkVxX4ieJwVRO9n4E8tNMw,z8-Y3mHdujSZS7JcvzFP8A,vhKUBKcOm8zOLxeS3XM9iA,3.0,1,0,0,More than just Pizza. This location is small ...,2009-03-01 02:20:56
4,Lb9r62Qlu12ZB909CbFeOQ,sHUQOhH75nK0J6n_INkKDA,E54AvEdLfCFFkCvXmXJ7GA,1.0,1,1,1,I ordered a pizza at 4:49. Got an email that s...,2018-04-04 01:38:49
...,...,...,...,...,...,...,...,...,...
479787,hpg5PY7o8aBEerCIHWSF1Q,VVZK1H2bc61Vjouht1d0ag,dUffgo9Lh_Vk9TLuFR5ywg,1.0,0,0,0,Horrible customer service and service in gener...,2019-11-06 02:18:56
479788,4tVxtkqWX9qCL4JuUwlbuw,jNrwIRGwKE404C20K3TsJw,wWDNwNb6ygJorKujOuifhA,5.0,0,0,0,It really doesn't get any better. Authentic (a...,2019-11-14 04:27:56
479789,ZhUeFHPAjUbEKRnYO_pl_w,WS-GsWbN4ltzigWl01t8Xw,o_dWM_hlpgjjd7F15UPjZw,3.0,0,0,0,First let me say Lindys in Columbus is one of ...,2019-11-16 14:37:10
479790,ubj8ca4hojVcIM-QngBXyg,9-j94j2eq7Gt0Pb1Meg-9A,60uVlCUiLJvq3xNo_3bhQQ,1.0,0,0,0,Pepperoni Roll- From back east and had a cravi...,2019-12-04 22:19:17
479791,l_aXr5I5ZNQDZEOeReNTow,o3HP46fVcGTCU9oj0LwVBg,CV05rBOr5DdDGvxUZkRFmg,5.0,0,0,0,We thoroughly enjoyed a delicious Italiano din...,2019-12-07 16:27:24

In [8]:
pizza_data.describe()

               stars         useful          funny           cool
count  479792.000000  479792.000000  479792.000000  479792.000000
mean        3.708130       1.059109       0.453807       0.513481
std         1.448307       4.439882       4.160658       2.409803
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000       0.000000
75%         5.000000       1.000000       0.000000       0.000000
max         5.000000    1122.000000     976.000000     502.000000

## Extract review photo jsons

In [ ]:
import requests

USER_AGENT = "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"
REVIEW_PHOTOS_LIST_TEMPLATE = "https://www.yelp.com/biz_photos/get_media_slice/{business_id}?userid={user_id}&get_local_ads=1&start=0&dir=f"
session = requests.session()
session.headers["User-Agent"] = USER_AGENT

In [ ]:
def get_review_photos(review):
    review_photos_resp = session.get(
        REVIEW_PHOTOS_LIST_TEMPLATE.format(
            business_id=review["business_id"],
            user_id=review["user_id"],
        ),
        headers={"x-requested-with": "XMLHttpRequest"},
    )
    if review_photos_resp.status_code == 503:
        raise Exception("Got blocked")
    elif review_photos_resp.status_code != 200:
        return []
    else:
        return [media["src"] for media in review_photos_resp.json()["media"]]

In [ ]:
tmp_reviews = []
with multiprocessing.Pool(6) as pool:
    with open('yelp_academic_dataset_review.json', 'r') as f:
        for line in enumerate(f):
            line_json = json.loads(line)
            if (line_json['business_id'] in pizza_business_ids) and (not os.path.exists(os.path.join("review_photos", f"{line_json['review_id']}.json"))):
                tmp_reviews.append(line_json)
            if len(tmp_reviews) >= 6:
                batch_result = pool.map(get_review_photos, tmp_reviews)
                for i, review_photos in enumerate(batch_result):
                    if len(review_photos) == 0:
                        continue
                    with open(os.path.join("review_photos", f"{tmp_reviews[i]['review_id']}.json"), "w") as review_file:
                        json.dump(review_photos, review_file)
                tmp_reviews = []
                time.sleep(0.5)