In [0]:
import os
import json
import pandas as pd

In [2]:
if (not os.path.exists('yelp_academic_dataset_business.json')) or (not os.path.exists('yelp_academic_dataset_review.json')):
    kaggle_path = os.path.expanduser('~/.kaggle')
    kaggle_json_path = os.path.join(kaggle_path, 'kaggle.json')
    if not os.path.exists(kaggle_json_path):
        from getpass import getpass
        kaggle_json = getpass('Insert kaggle.json:')
        os.makedirs(kaggle_path, exist_ok=True)
        with open(kaggle_json_path, 'w') as f:
            f.write(kaggle_json)
        os.chmod(kaggle_json_path, 0o600)
    !kaggle datasets download yelp-dataset/yelp-dataset
    !unzip yelp-dataset.zip yelp_academic_dataset_business.json yelp_academic_dataset_review.json
    !rm yelp-dataset.zip

Insert kaggle.json:··········
Downloading yelp-dataset.zip to /content
100% 4.46G/4.48G [01:00<00:01, 16.6MB/s]
100% 4.48G/4.48G [01:00<00:00, 79.1MB/s]
Archive:  yelp-dataset.zip
  inflating: yelp_academic_dataset_business.json
  inflating: yelp_academic_dataset_review.json

In [13]:
business_df = pd.read_json('yelp_academic_dataset_business.json', lines=True)
print("The dataset contains total {} businesses".format(len(business_df.index)))

The dataset contains 209393 businesses

In [14]:
business_df = business_df[business_df['categories'].notna()]
pizza_biz_df = business_df[business_df['categories'].str.contains("Pizza")]
print("Of those, {} businesses sell pizza".format(len(business_df.index)))
print("Here are a few examples")
pizza_biz_df.head()

Of those, 208869 businesses sell pizza
Here are a few examples

                business_id  ...                                              hours
63   ZkzutF0P_u0C0yTulwaHkA  ...  {'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...
86   OWkS1FXNJbozn-qPg3LWxg  ...                             {'Friday': '18:0-0:0'}
105  -C0AlwLuXpcP609madJZQQ  ...  {'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...
120  39lLJK_rrYY2NYomSsQdUA  ...                                               None
126  0y6alZmSLnPzmG5_kP5Quw  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...

[5 rows x 14 columns]